/* Mobile View */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    
   .nav-bar {
    margin: 10px;
   }
    .code_link {
        margin-left: 5px;
        margin-right: 5px;
    }


    .motor-container {
         flex-wrap: wrap;
         width: 350px;
         margin: 50px auto;
      
    }

 .sedans {
 
    border-radius: 10px 10px 0 0;
    
 }
 
 .luxury {
    border-radius:  0 0 10px 10px;
}
   

/* grid */
 
.grid-container {
 width: 400px; 
 }
 
}




