/* Mobile View */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    
   .nav-bar {
    margin: 10px;
   }
    .code_link {
        margin-left: 5px;
        margin-right: 5px;
    }


    .motor-container {
         flex-wrap: wrap;
         width: 350px;
         margin: 50px auto;
      
    }

 .sedans {
 
    border-radius: 10px 10px 0 0;
    
 }
 
 .luxury {
    border-radius:  0 0 10px 10px;
}
   /* grid */

   
.grid-container {
    display: grid;
    grid-template-areas: 
   'A A A B'
   'C C D D'
   'C C E E';
 
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    gap: 10px;
    white-space: nowrap;
 
 }
}




